* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Arial', sans-serif;
  background: #f5f3ef;
  line-height: 1.5em;
  color: #666; }

.container {
  width: 80%;
  max-width: 960px;
  margin: auto; }

a {
  color: #1f2c36;
  text-decoration: none; }

ul,
li {
  list-style: none; }

header {
  height: 130px;
  background: #1f2c36;
  color: #fff;
  margin-bottom: 20px; }

header img {
  padding-top: 20px; }

section {
  float: right;
  width: 80%;
  padding: 20px; }

section .gallery img {
  width: 31%;
  opacity: 1;
  transition: all 1s;
  height: 120px; }

section .gallery img:hover {
  background: #fff;
  opacity: 0.5;
  transition: all 1s; }

nav {
  float: left;
  width: 20%;
  padding: 20px; }

nav a {
  line-height: 2.2em;
  padding: 10px 20px; }

nav a:active {
  background: #1f2c36;
  color: #fff; }

nav a:hover {
  background: #ccc; }

footer {
  clear: both;
  height: 40px;
  background: #1f2c36;
  color: #fff;
  text-align: center;
  padding-top: 10px; }

@media (max-width: 960px) {
  .container {
    width: 95%; }
  section,
  nav {
    float: none;
    width: 100%; }
  section .gallery img {
    width: 49%; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIioge1xyXG4gICAgcGFkZGluZzogMDtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbn1cclxuXHJcbmJvZHkge1xyXG4gICAgZm9udC1mYW1pbHk6ICdBcmlhbCcsIHNhbnMtc2VyaWY7XHJcbiAgICBiYWNrZ3JvdW5kOiAjZjVmM2VmO1xyXG4gICAgbGluZS1oZWlnaHQ6IDEuNWVtO1xyXG4gICAgY29sb3I6ICM2NjY7XHJcbn1cclxuXHJcbi5jb250YWluZXIge1xyXG4gICAgd2lkdGg6IDgwJTtcclxuICAgIG1heC13aWR0aDogOTYwcHg7XHJcbiAgICBtYXJnaW46IGF1dG87XHJcbn1cclxuXHJcbmEge1xyXG4gICAgY29sb3I6ICMxZjJjMzY7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbn1cclxuXHJcbnVsLFxyXG5saSB7XHJcbiAgICBsaXN0LXN0eWxlOiBub25lO1xyXG59XHJcblxyXG5oZWFkZXIge1xyXG4gICAgaGVpZ2h0OiAxMzBweDtcclxuICAgIGJhY2tncm91bmQ6ICMxZjJjMzY7XHJcbiAgICBjb2xvcjogI2ZmZjtcclxuICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICBpbWcge1xyXG4gICAgICAgIHBhZGRpbmctdG9wOiAyMHB4O1xyXG4gICAgfVxyXG59XHJcblxyXG5zZWN0aW9uIHtcclxuICAgIGZsb2F0OiByaWdodDtcclxuICAgIHdpZHRoOiA4MCU7XHJcbiAgICBwYWRkaW5nOiAyMHB4O1xyXG4gICAgLmdhbGxlcnkgaW1nIHtcclxuICAgICAgICB3aWR0aDogMzElO1xyXG4gICAgICAgIG9wYWNpdHk6IDE7XHJcbiAgICAgICAgdHJhbnNpdGlvbjogYWxsIDFzO1xyXG4gICAgICAgIGhlaWdodDogMTIwcHg7XHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgIGJhY2tncm91bmQ6ICNmZmY7XHJcbiAgICAgICAgICAgIG9wYWNpdHk6IDAuNTtcclxuICAgICAgICAgICAgdHJhbnNpdGlvbjogYWxsIDFzO1xyXG4gICAgICAgIH1cclxuICAgIH1cclxufVxyXG5cclxubmF2IHtcclxuICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgd2lkdGg6IDIwJTtcclxuICAgIHBhZGRpbmc6IDIwcHg7XHJcbiAgICBhIHtcclxuICAgICAgICBsaW5lLWhlaWdodDogMi4yZW07XHJcbiAgICAgICAgcGFkZGluZzogMTBweCAyMHB4O1xyXG4gICAgICAgICY6YWN0aXZlIHtcclxuICAgICAgICAgICAgYmFja2dyb3VuZDogIzFmMmMzNjtcclxuICAgICAgICAgICAgY29sb3I6ICNmZmY7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kOiAjY2NjO1xyXG4gICAgICAgIH1cclxuICAgIH1cclxufVxyXG5cclxuZm9vdGVyIHtcclxuICAgIGNsZWFyOiBib3RoO1xyXG4gICAgaGVpZ2h0OiA0MHB4O1xyXG4gICAgYmFja2dyb3VuZDogIzFmMmMzNjtcclxuICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgcGFkZGluZy10b3A6IDEwcHg7XHJcbn1cclxuXHJcbkBtZWRpYShtYXgtd2lkdGg6IDk2MHB4KSB7XHJcbiAgICAuY29udGFpbmVyIHtcclxuICAgICAgICB3aWR0aDogOTUlO1xyXG4gICAgfVxyXG4gICAgc2VjdGlvbixcclxuICAgIG5hdiB7XHJcbiAgICAgICAgZmxvYXQ6IG5vbmU7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICB9XHJcbiAgICBzZWN0aW9uIHtcclxuICAgICAgICAuZ2FsbGVyeSBpbWcge1xyXG4gICAgICAgICAgICB3aWR0aDogNDklO1xyXG4gICAgICAgIH1cclxuICAgIH1cclxufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxBQUFBLENBQUMsQ0FBQztFQUNFLE9BQU8sRUFBRSxDQUFDO0VBQ1YsTUFBTSxFQUFFLENBQUM7RUFDVCxVQUFVLEVBQUUsVUFBVSxHQUN6Qjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUNELFdBQVcsRUFBRSxtQkFBbUI7RUFDaEMsVUFBVSxFQUFFLE9BQU87RUFDbkIsV0FBVyxFQUFFLEtBQUs7RUFDbEIsS0FBSyxFQUFFLElBQUksR0FDZDs7QUFFRCxBQUFBLFVBQVUsQ0FBQztFQUNQLEtBQUssRUFBRSxHQUFHO0VBQ1YsU0FBUyxFQUFFLEtBQUs7RUFDaEIsTUFBTSxFQUFFLElBQUksR0FDZjs7QUFFRCxBQUFBLENBQUMsQ0FBQztFQUNFLEtBQUssRUFBRSxPQUFPO0VBQ2QsZUFBZSxFQUFFLElBQUksR0FDeEI7O0FBRUQsQUFBQSxFQUFFO0FBQ0YsQUFBQSxFQUFFLENBQUM7RUFDQyxVQUFVLEVBQUUsSUFBSSxHQUNuQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILE1BQU0sRUFBRSxLQUFLO0VBQ2IsVUFBVSxFQUFFLE9BQU87RUFDbkIsS0FBSyxFQUFFLElBQUk7RUFDWCxhQUFhLEVBQUUsSUFBSSxHQUl0QjtFQVJELEFBS0ksTUFMRSxDQUtGLEdBQUcsQ0FBQztJQUNBLFdBQVcsRUFBRSxJQUFJLEdBQ3BCOztBQUdMLEFBQUEsT0FBTyxDQUFDO0VBQ0osS0FBSyxFQUFFLEtBQUs7RUFDWixLQUFLLEVBQUUsR0FBRztFQUNWLE9BQU8sRUFBRSxJQUFJLEdBWWhCO0VBZkQsQUFJYSxPQUpOLENBSUgsUUFBUSxDQUFDLEdBQUcsQ0FBQztJQUNULEtBQUssRUFBRSxHQUFHO0lBQ1YsT0FBTyxFQUFFLENBQUM7SUFDVixVQUFVLEVBQUUsTUFBTTtJQUNsQixNQUFNLEVBQUUsS0FBSyxHQU1oQjtJQWRMLEFBSWEsT0FKTixDQUlILFFBQVEsQ0FBQyxHQUFHLEFBS1IsTUFBTyxDQUFDO01BQ0osVUFBVSxFQUFFLElBQUk7TUFDaEIsT0FBTyxFQUFFLEdBQUc7TUFDWixVQUFVLEVBQUUsTUFBTSxHQUNyQjs7QUFJVCxBQUFBLEdBQUcsQ0FBQztFQUNBLEtBQUssRUFBRSxJQUFJO0VBQ1gsS0FBSyxFQUFFLEdBQUc7RUFDVixPQUFPLEVBQUUsSUFBSSxHQVloQjtFQWZELEFBSUksR0FKRCxDQUlDLENBQUMsQ0FBQztJQUNFLFdBQVcsRUFBRSxLQUFLO0lBQ2xCLE9BQU8sRUFBRSxTQUFTLEdBUXJCO0lBZEwsQUFJSSxHQUpELENBSUMsQ0FBQyxBQUdHLE9BQVEsQ0FBQztNQUNMLFVBQVUsRUFBRSxPQUFPO01BQ25CLEtBQUssRUFBRSxJQUFJLEdBQ2Q7SUFWVCxBQUlJLEdBSkQsQ0FJQyxDQUFDLEFBT0csTUFBTyxDQUFDO01BQ0osVUFBVSxFQUFFLElBQUksR0FDbkI7O0FBSVQsQUFBQSxNQUFNLENBQUM7RUFDSCxLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0VBQ1osVUFBVSxFQUFFLE9BQU87RUFDbkIsS0FBSyxFQUFFLElBQUk7RUFDWCxVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSSxHQUNwQjs7QUFFRCxNQUFNLEVBQUMsU0FBUyxFQUFFLEtBQUs7RUFDbkIsQUFBQSxVQUFVLENBQUM7SUFDUCxLQUFLLEVBQUUsR0FBRyxHQUNiO0VBQ0QsQUFBQSxPQUFPO0VBQ1AsQUFBQSxHQUFHLENBQUM7SUFDQSxLQUFLLEVBQUUsSUFBSTtJQUNYLEtBQUssRUFBRSxJQUFJLEdBQ2Q7RUFDRCxBQUNhLE9BRE4sQ0FDSCxRQUFRLENBQUMsR0FBRyxDQUFDO0lBQ1QsS0FBSyxFQUFFLEdBQUcsR0FDYiJ9 */
